@media (max-width: 991.98px) {
  .top-header .container-fluid {
    flex-direction: column !important;
    align-items: flex-start !important;
    gap: 10px;
  }

  .top-header .container-fluid > div {
    width: 100% !important;
    margin-bottom: 10px;
  }

  .form-select {
    width: 100% !important;
  }

  header .container {
    flex-direction: column !important;
    align-items: flex-start !important;
    gap: 15px;
  }

  header .container > .d-flex.align-items-center {
    flex-direction: column !important;
    align-items: flex-start !important;
    gap: 10px;
  }

  .flex-grow-1.mx-3 {
    width: 100% !important;
    margin: 10px 0 !important;
  }

  header .container > .d-flex.gap-3 {
    justify-content: flex-start !important;
    width: 100% !important;
    gap: 15px;
  }

  nav .container {
    flex-direction: column !important;
    align-items: flex-start !important;
    gap: 10px;
  }

  nav .nav {
    flex-wrap: wrap;
    gap: 8px;
  }

  nav .dropdown {
    width: 100%;
  }

  nav .dropdown-toggle {
    width: 100%;
    text-align: start;
  }
}

@media (max-width: 575.98px) {
  input.form-control {
    height: 45px !important;
    font-size: 12px !important;
  }

  header .nav-link {
    font-size: 13px !important;
  }

  header h6,
  header small {
    font-size: 13px !important;
  }

  .btn {
    font-size: 13px !important;
    padding: 4px 10px !important;
  }

  .btn-4x {
    width: 100% !important;
    font-size: 13px !important;
    text-align: center;
  }

  .navbar-nav {
    flex-direction: column !important;
    align-items: flex-start;
  }
}

/*  */


.nav-hover {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.975rem;
  color: #212529;
  border-radius: 0.75rem;
  padding: 0.25rem 0.75rem;
  transition: 0.3s;
}

.nav-hover:hover {
  background-color: #0dcaf0;
  color: white !important;
}

